table { width:100%; }

$colorBlue: #2284A1;
$colorRed: #C60F13;
$colorGreen: #457A1A;
$colorOrchid: #CD69C9;
$colorSnowGrey: #8B8989;

.status {
	font-size:0.9em;
	letter-spacing:0.2em;
	text-transform:uppercase;
	padding: 0.25em 0.625em;
	&.needs.rework {
		background-color:$colorRed;
		border-color:darken($colorRed, 15%);
	}
	&.in.progress {
		background-color:$colorBlue;
		border-color:darken($colorBlue, 15%);
	}
	&.pending {
		background-color:$colorSnowGrey;
		border-color:darken($colorSnowGrey, 15%);
	}
	&.reviewing {
		background-color:$colorOrchid;
		border-color:darken($colorOrchid, 15%);
	}
	&.accepted {
		background-color:$colorGreen;
		border-color:darken($colorGreen, 15%);
	}
}
